# Ignore virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs (if any are generated)
*.log


# Ignore IDE/editor specific files
.idea/
